html { position: relative; min-height: 100%; height: auto; }

body { width: 100%; line-height: 120%; font-size: 14px; color: #4d4d4d; }

a, a:hover { text-decoration: none; }

.mt5 { margin-top: 5px; }

.mt10 { margin-top: 10px; }

.mt15 { margin-top: 15px; }

.mt20 { margin-top: 20px; }

.mt25 { margin-top: 25px; }

.mt30 { margin-top: 30px; }

.mt35 { margin-top: 35px; }

.mt40 { margin-top: 40px; }

.mt45 { margin-top: 45px; }

.mt50 { margin-top: 50px; }

.mt55 { margin-top: 55px; }

.mt60 { margin-top: 60px; }

.mt65 { margin-top: 65px; }

.mt70 { margin-top: 70px; }

.mt75 { margin-top: 75px; }

.mt80 { margin-top: 80px; }

.mt85 { margin-top: 85px; }

.mt90 { margin-top: 90px; }

.mt95 { margin-top: 95px; }

.mt100 { margin-top: 100px; }

.mt105 { margin-top: 105px; }

.mt110 { margin-top: 110px; }

.mt115 { margin-top: 115px; }

.mt120 { margin-top: 120px; }

.mt125 { margin-top: 125px; }

.mt130 { margin-top: 130px; }

.mt135 { margin-top: 135px; }

.mt140 { margin-top: 140px; }

.mt145 { margin-top: 145px; }

.mt150 { margin-top: 150px; }

.mt155 { margin-top: 155px; }

.mt160 { margin-top: 160px; }

.mt165 { margin-top: 165px; }

.mt170 { margin-top: 170px; }

.mt175 { margin-top: 175px; }

.mt180 { margin-top: 180px; }

.mt185 { margin-top: 185px; }

.mt190 { margin-top: 190px; }

.mt195 { margin-top: 195px; }

.mt200 { margin-top: 200px; }

.mt205 { margin-top: 205px; }

.mt210 { margin-top: 210px; }

.mt215 { margin-top: 215px; }

.mt220 { margin-top: 220px; }

.mt225 { margin-top: 225px; }

.mt230 { margin-top: 230px; }

.mt235 { margin-top: 235px; }

.mt240 { margin-top: 240px; }

.mt245 { margin-top: 245px; }

.mt250 { margin-top: 250px; }

.mr5 { margin-right: 5px; }

.mr10 { margin-right: 10px; }

.mr15 { margin-right: 15px; }

.mr20 { margin-right: 20px; }

.mr25 { margin-right: 25px; }

.mr30 { margin-right: 30px; }

.mr35 { margin-right: 35px; }

.mr40 { margin-right: 40px; }

.mr45 { margin-right: 45px; }

.mr50 { margin-right: 50px; }

.mr55 { margin-right: 55px; }

.mr60 { margin-right: 60px; }

.mr65 { margin-right: 65px; }

.mr70 { margin-right: 70px; }

.mr75 { margin-right: 75px; }

.mr80 { margin-right: 80px; }

.mr85 { margin-right: 85px; }

.mr90 { margin-right: 90px; }

.mr95 { margin-right: 95px; }

.mr100 { margin-right: 100px; }

.mr105 { margin-right: 105px; }

.mr110 { margin-right: 110px; }

.mr115 { margin-right: 115px; }

.mr120 { margin-right: 120px; }

.mr125 { margin-right: 125px; }

.mr130 { margin-right: 130px; }

.mr135 { margin-right: 135px; }

.mr140 { margin-right: 140px; }

.mr145 { margin-right: 145px; }

.mr150 { margin-right: 150px; }

.mr155 { margin-right: 155px; }

.mr160 { margin-right: 160px; }

.mr165 { margin-right: 165px; }

.mr170 { margin-right: 170px; }

.mr175 { margin-right: 175px; }

.mr180 { margin-right: 180px; }

.mr185 { margin-right: 185px; }

.mr190 { margin-right: 190px; }

.mr195 { margin-right: 195px; }

.mr200 { margin-right: 200px; }

.mr205 { margin-right: 205px; }

.mr210 { margin-right: 210px; }

.mr215 { margin-right: 215px; }

.mr220 { margin-right: 220px; }

.mr225 { margin-right: 225px; }

.mr230 { margin-right: 230px; }

.mr235 { margin-right: 235px; }

.mr240 { margin-right: 240px; }

.mr245 { margin-right: 245px; }

.mr250 { margin-right: 250px; }

.ml5 { margin-left: 5px; }

.ml10 { margin-left: 10px; }

.ml15 { margin-left: 15px; }

.ml20 { margin-left: 20px; }

.ml25 { margin-left: 25px; }

.ml30 { margin-left: 30px; }

.ml35 { margin-left: 35px; }

.ml40 { margin-left: 40px; }

.ml45 { margin-left: 45px; }

.ml50 { margin-left: 50px; }

.ml55 { margin-left: 55px; }

.ml60 { margin-left: 60px; }

.ml65 { margin-left: 65px; }

.ml70 { margin-left: 70px; }

.ml75 { margin-left: 75px; }

.ml80 { margin-left: 80px; }

.ml85 { margin-left: 85px; }

.ml90 { margin-left: 90px; }

.ml95 { margin-left: 95px; }

.ml100 { margin-left: 100px; }

.ml105 { margin-left: 105px; }

.ml110 { margin-left: 110px; }

.ml115 { margin-left: 115px; }

.ml120 { margin-left: 120px; }

.ml125 { margin-left: 125px; }

.ml130 { margin-left: 130px; }

.ml135 { margin-left: 135px; }

.ml140 { margin-left: 140px; }

.ml145 { margin-left: 145px; }

.ml150 { margin-left: 150px; }

.ml155 { margin-left: 155px; }

.ml160 { margin-left: 160px; }

.ml165 { margin-left: 165px; }

.ml170 { margin-left: 170px; }

.ml175 { margin-left: 175px; }

.ml180 { margin-left: 180px; }

.ml185 { margin-left: 185px; }

.ml190 { margin-left: 190px; }

.ml195 { margin-left: 195px; }

.ml200 { margin-left: 200px; }

.ml205 { margin-left: 205px; }

.ml210 { margin-left: 210px; }

.ml215 { margin-left: 215px; }

.ml220 { margin-left: 220px; }

.ml225 { margin-left: 225px; }

.ml230 { margin-left: 230px; }

.ml235 { margin-left: 235px; }

.ml240 { margin-left: 240px; }

.ml245 { margin-left: 245px; }

.ml250 { margin-left: 250px; }

.fb { font-weight: bold; }

.hand { cursor: pointer; }

.hide { display: none; }

.tc { text-align: center; }

.tl { text-align: left; }

.tr { text-align: right; }

.f12 { font-size: 12px; }

.f14 { font-size: 14px; }

.f16 { font-size: 16px; }

.f18 { font-size: 18px; }

.f20 { font-size: 20px; }

.f30 { font-size: 30px; }

.red { color: #da004e; }

.gray { color: #4d4d4d; }

.yellow { color: #b3d465; }

.orange { color: #f60; }

.cf60 { color: #f60; }

.cb2b { color: #b2b2b2; }

.cbfb { color: #bfbfbf; }

.blue { color: #38f; }

.cfff { color: #fff; }

.c000 { color: #424242; }

.c999 { color: #999; }

.c4d4 { color: #4d4d4d; }

.clearfix { overflow: hidden; }

.clearfix:after { display: block; width: 100%; height: auto; content: ""; }
