.selectUI {
  position: relative;
  width: 160px;
  height: 30px;
  line-height: 30px;
}

.selectUI.zIndex100 {
  z-index: 100;
}

.selectUI .jComponentSelectTitleBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
}

.selectUI .jComponentSelectTitle {
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-indent: 10px;
}

.selectUI .jComponentSelectIcon {
  float: right;
  width: 30px;
  height: 30px;
  background: url("../images/selectUI/selectUI_icon.png") scroll no-repeat left top transparent;
}

.selectUI .jComponentSelectIconOpen {
  background-position: 0 -30px;
}

.selectUI .jComponentSelectList {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fff;
	overflow-y:auto;
}

.selectUI li {
  float: left;
  width: 100%;
  height: 30px;
  text-indent: 10px;
  overflow: hidden;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}

.selectUI li:first-child {
  border-top: none;
}

.selectUI li:hover {
  background-color: #efefef;
}
